h1
{
    text-align: center;
    padding-top: 10%;
    padding-bottom: auto;
    font-size: 100px;
    font-weight: 900;
}
.NotFound
{
    background:rgba(255,255,255,0.5);
    width: 100%;
    height: 100vh;
}