/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

.cont{
    height: 100%;
    width: 100%;
    margin: auto;
    position: absolute;
    font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;

}
.facebookIcon
{
    color: rgb(82, 53, 118);
}
.googleIcon
{
    color: rgb(230, 49, 49);
}

.social_icon span:hover{
color: #781570;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100%;
font-weight: 800;
}

.login_btn:hover{
color: black;
background-color: white;
font-weight: 800;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.a {
    color: red !important; /* blue colors for links too */
    
    text-decoration: inherit; /* no underline */
  }